body {
    background: rgb(0, 0, 0);
    color: white;
    font-family: arial;
    margin: 0;
    padding: 0;

}

header{
    background-image: url(images/wedding.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    padding: 20px;
    height: 400px;
    
    
}

header .logo a{
    background-image: url(images/photography.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    position: relative;
    text-indent: -999999px;
    width: 200px;
    height: 200px;
    top: -12px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-transform: uppercase;
}



a {
    color: white;
    text-decoration-line: none;
}

section {
    background: black;
    background-size: 100%;
    color: white;
    padding-left: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    
}

li{
    display: inline-block;
    margin-right: 20px;
    margin-top: 20px;
    color: white;

}

.icing figure img {
    border-radius: 50%;
    width: 450px;
}

footer {
    background-color: whitesmoke;
    color: goldenrod;
    margin: 0px;
    padding: 20px;
    
    
    



}

section .aboutus {
    margin-top: 110px;
    margin-left: 50px;
    margin-right: 50px;



}

.collage {
    text-align: center;
    margin-left: 50px;




}

.collage figure img {
    width: 300px;
    height: 300px;
    border-radius: 50%;




}

.collage figcaption {
    margin-top: 40px;




}

.aboutus {
    color: ghostwhite   ;
}

.copyrights {

    margin-left: 670px;

}

.page-divider {
    font-size: 1px;
    color: goldenrod;
    text-align: center;
    background-size: 100%;
    text-indent: 999px;
    background-color: goldenrod;
    padding: 0;
    border-top: 1px;
    margin: 1px 0;

}

.assortmentofcakes {
    font-size: 40px;
    width: 300px;
    height: 65px;
    background-image: url(images/goldback.png);
    color: black;



}

.order {
    float: right;
}

.shopping {
    height: 30px;
    display: inline-block;


}
